<div id="#toolbar">
  <button {{action 'toggleHTML'}}>HTML</button>
  <button {{action 'toggleCSS'}}>CSS</button>
  <button {{action 'toggleJS'}}>JavaScript</button>
  <button {{action 'toggleOutput'}}>Output</button>
</div>
